.buyer-register-nav {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(37, 145, 251, 0.98) 0.1%,
    rgba(0, 7, 128, 1) 99.8%
  );
  color: #fff;
}

.buyer-register-form-container {
  background-image: none !important;
  background-color: #fff;
}
